name = "{{ blueprint.name }}-iso"
description = "{{ blueprint.description | default('RHEL Edges ECI image') }} ISO"
version = "0.0.1"
modules = []
groups = []
distro = ""

[customizations]
{% if blueprint.installation_device is defined%}
installation_device = "{{ blueprint.installation_device }}"
{% endif %}

{% if blueprint.fdo %}
[customizations.fdo]
manufacturing_server_url = "http://{{ blueprint.manufacturing_server }}:{{ blueprint.manufacturing_port }}"
diun_pub_key_insecure = "true"
{% endif %}
