---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options:{{ eci_configdir }}/tftpboot.conf: z
    io.podman.annotations.autoremove/dnsmasq: "TRUE"
    io.podman.annotations.init/dnsmasq: "FALSE"
    io.podman.annotations.privileged/dnsmasq: "TRUE"
    io.podman.annotations.publish-all/dnsmasq: "FALSE"
  labels:
    app: dnsmasq-pod
  name: dnsmasq-pod
spec:
  containers:
  - command:
      - /bin/bash
    args:
      - -c
      - "/usr/sbin/dnsmasq -d"
    image: {{ dnsmasq_image }}
    name: dnsmasq
    securityContext:
      privileged: true
      seLinuxOptions:
        type: spc_t
    volumeMounts:
    - mountPath: /etc/dnsmasq.d/dnsmasq.conf
      name: vol-config
      readOnly: true
    - mountPath: /data/iso/
      name: vol-iso
      readOnly: true
    - mountPath: /tftpboot
      name: vol-data
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: "{{ eci_configdir }}/dnsmasq.conf"
      type: File
    name: vol-config
  - hostPath:
      path: {{ tftpboot_data }}
      type: File
    name: vol-data
  - hostPath:
      path: {{ tftpboot_iso_path }}
      type: File
    name: vol-iso