text

%addon com_redhat_kdump --disable
%end

keyboard --xlayouts='us'
lang en_US.UTF-8

%packages
@^server-product-environment
%end

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=vda
autopart
clearpart --none --initlabel

# System timezone
timezone Europe/Zurich --utc

# Network config
network --hostname={{ vm.name }}
{% for network in vm.networks %}
network --activate --bootproto=static --ip={{ network.ip }} --netmask=255.255.255.0 --nameserver={{ network.dns | default('8.8.8.8')}} --device={{ vm_mac_address[network.name] }} {% if vm_gw_address[network.name] != '' %}--gateway={{ vm_gw_address[network.name] }}{% endif %}

{% endfor %}

# Root credentials
{% if vm.passwd is defined %}
rootpw --iscrypted --allow-ssh "{{ vm.passwd }}"
{% endif %}
{% if vm.sshkey is defined %}
sshkey --username root "{{ vm.sshkey }}"
{% endif %}

eula --agreed
reboot --eject