<network>
  <name>{{ item.name }}</name>
{% if item.forward_mode is defined %}
  <forward mode="{{ item.forward_mode }}">
  {% if item.forward_mode == "nat" %}
    <nat>
      <port start="1024" end="65535"/>
    </nat>
  {% endif %}  
  </forward>
  {% if item.forward_mode == "bridge" %}
  <bridge name="{{ item.bridge_name }}"/>
  {% else %}
  <bridge name="virbr-{{ item.name }}" stp="on" delay="0"/>
  {% endif %}
{% endif %}
{% if item.ip is defined %}
  <ip address="{{ item.ip }}" netmask="255.255.255.0" />
{% endif %}
</network>
